<section class="container">
	<h3>Mensajes</h3>
	<label for='email'>Email</label>
	<br>
	<input id="user-email"  type="mail" id="usermail" placeholder="Ingresa tu email">
	<form id="chat-form" >
		<label for='chatmessage'>Mensaje</label>
		<br>
		<input id="chat-message"  type="text" name="chatmessage"
			placeholder="Ingresa tu mensaje...">
		<br>
		<br>
		<button class="btn btn-primary" type="submit">Enviar</button>
	</form>
	<div id="table-chat" class="my-4"></div>
</section>